<%= javascript_tag do %>
  window.pixel = '<%= j @color %>';
<% end %>

<div class="login pixel">
    <div class="bandana"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 26 300 86" enable-background="new 0 26 300 86"><g fill="<%= @color %>"><path d="M290.3 101.4h-38.7v9.7h38.7v-9.7zm-48.4 0h-38.7v9.7h38.7v-9.7zm-58 0h-38.7v9.7h38.7v-9.7zm-96.8 0h-9.7v9.7h9.7v-9.7zm38.7 0h-9.7v9.7h9.7v-9.7zm-58.1-19.3h-9.6v29h9.6v-29zm-29.2-19.4h-38.5v48.1h9.6v-9.6h28.9v-9.6h-28.9v-19.3h28.9v-9.6zm261.5 29h-9.7v9.7h9.7v-9.7zm-96.8-29h-9.7v38.7h9.7v-38.7zm-58 9.7h-9.7v29h9.7v-9.7h29v-9.6h-29v-9.7zm-48.4 19.3h-9.7v9.7h9.7v-9.7zm19.3 0h-9.6v9.7h9.6v-9.7zm174.2-9.6h-29v9.6h29v-9.6zm-183.8 0h-9.7v9.6h9.7v-9.6zm-58.4-9.8h-9.6v19.3h9.6v-19.3zm213.2.1h-9.7v9.7h9.7v-9.7zm-77.4 0h-9.7v9.7h9.7v-9.7zm-87.1 0h-9.7v9.7h9.7v-9.7zm19.3 0h-9.6v9.7h9.6v-9.7zm183.9-9.7h-38.7v9.7h38.7v-9.7zm-125.8 0h-29v9.7h29v-9.7zm-87.1 0h-9.7v9.7h9.7v-9.7zm38.7 0h-9.7v9.7h9.7v-9.7zm-58.1 0h-9.6v9.7h9.6v-9.7zM86.3 26.2h7.7l7.4 24.5h-6.7l-1.4-4.3h-6.6l-1.4 4.3h-6.7l7.7-24.5zm5.7 14.7l-1.8-6.6-2 6.6h3.8zM103.1 26.2h11c4.4 0 7.5 1.8 7.5 7.9 0 5.8-1.9 6.7-3.6 7.4l4.2 9.3h-7.4l-3.1-8.7-2-.5v9.1h-6.5v-24.5zm10.1 10.5c1.7 0 1.8-.9 1.8-2.6 0-1.5-.3-2.3-1.8-2.3h-3.6v5h3.6zM126 26.2h9l2.1 13.8 2.2-13.8h9l2.6 24.5h-6.4l-1.5-13.4-2 13.4h-7.4l-2.1-13.4-1.5 13.4h-6.4l2.4-24.5zM157.9 26.2l3.5 10.9 3.8-10.9h7.1l-7.7 17.8v6.7h-6.5v-6.7l-7.2-17.8h7zM192.6 26c5.8 0 10.2 1.1 10.2 12.6 0 10.8-4.1 12.2-10.2 12.2-6 0-10.1-1.1-10.1-12.2-.1-11.5 4.4-12.6 10.1-12.6zm0 19c2.9 0 3.7-1.2 3.7-6.4 0-5.7-.6-6.8-3.7-6.8-2.9 0-3.7.8-3.7 6.8 0 5.1.4 6.4 3.7 6.4zM204.2 32c0-4.6 3.4-5.9 6.2-5.8 0 0 7 0 11 .5v5.5h-8.9c-1.7 0-1.7 1-1.7 1.9v1.5l9 .4v5.4l-9 .3v9.1h-6.5v-18.8z"/></g></svg></div>
    <div class="cta">
        <h2>Copy your auth token from your <a href="https://pixels.camp/profile/">pixels.camp profile</a> here</h2>

        <%= form_tag "/session" do %>

          <%= text_field_tag "token" %>
          <%= submit_tag "Save",  class: "btn-cta-2 actions" %>
        <% end %>
    </div>
</div>
