<%= javascript_tag do %>
  window.color = '<%= j @color %>';
  window.new_color = '<%= j @new_color %>';
  window.converting = '<%= j @converting %>';
<% end %>

<div class="pixel">
    <% link_to "logout", {:controller=> "sessions", :action=> "destroy"}, :method => :delete%>
    <div class="bandana"></div>
    <div class="flip-container hover">
      <div class="flipper">
        <div class="back">
            <img src="<%= @qr_code %>">
            <h2 style="text-align:center;font-size:14px;font-weight:bold;">SPREAD YOUR PIXEL</h2>
        </div>
      </div>
    </div>
</div>
<audio class="wololo">
  <source src="<%= audio_path('wololo.mp3') %>" type="audio/mp3">
</audio>

